<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation', {isLogin: isAuthenticated}); %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/main.css">
 
</head>
<body>
  <div class="container">
    <h1>Add Product</h1>
    <form method="post" enctype="multipart/form-data">
 
        <div class="form-group">
          <label for="product-name">Product Name:</label>
          <input type="text" id="product-name" name="product_name" placeholder="Enter product name" required>
        </div>

        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" id="image" name="image" accept="image/*">
          <!-- <span>or</span>
          <input type="text" id="image-url" name="imageUrl" placeholder="Paste image URL">
        </div> -->

      <div class="form-group">
        <label for="product-name">Price:</label>
        <input type="text" id="product-name" name="product_price" placeholder="Enter price" required>
      </div>

      <div class="form-group">
        <label for="product-name">Description</label>
        <input type="text" id="product-name" name="product_description" placeholder="Enter description" required>
      </div>
      
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="submit" class="primary-button" value="Add">
    </form>
  </div>
  
  <%- include('../partials/footer.ejs') %>

