<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="css/homepage.css">
<%- include('../includes/navigation.ejs') %>

<h1>Edit profile</h1>



<%- include('../includes/footer.ejs') %>
