<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<%- include('../includes/navigation.ejs') %>

<h1>Remove route</h1>



<%- include('../includes/footer.ejs') %>
