<link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Products</a></li>
        <li><a href="/add-product">Add product</a></li>
        <li><a href="/not-found">Maintenance</a></li>
      </ul>
    </nav>
  </header>