<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/not_found.css">
<%- include('includes/navigation.ejs') %>
<body>
  <div class="container">
    <h1>404 Not Found</h1>
    <p class="error-code">Error code: 404</p>
    <p class="error-message">The page you requested could not be found.</p>
    <p>Please check the URL or go back to the <a href="/">homepage</a>.</p>
  </div>
<%- include('includes/footer.ejs') %>