<%- include('./includes/header.ejs') %> <%-
include('./includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/not_found.css" />
<link rel="stylesheet" href="/css/main.css" />

<body>
  <div class="container">
    <p class="error-code">Error code: 404</p>
    <p class="error-message">The page you requested could not be found.</p>
    <p>Please check the URL or go back to the <a href="/">homepage</a>.</p>
  </div>
  <%- include('includes/footer.ejs') %>
</body>
