/* 
Carts: Product title, price, product image canva
*/

h1 {
  color: #333;
}
.product {
  display: flex;
  align-items: center;
}
.product img {
  width: 150px;
  margin-right: 20px;
}
.product-info {
  flex: 1;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-description {
  color: #666;
  margin-bottom: 20px;
}
.product-price {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  font-weight: bold;
}