<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<%- include('../includes/navigation.ejs') %>

<body>
  <div class="container">
    <h1>Welcome to Our Website</h1>

    <div class="section">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra enim in iaculis dapibus. Aliquam ac pulvinar eros. Fusce placerat dapibus mi, et condimentum mauris volutpat et.</p>
    </div>

    <div class="section">
      <h2>Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra enim in iaculis dapibus. Aliquam ac pulvinar eros. Fusce placerat dapibus mi, et condimentum mauris volutpat et.</p>
    </div>

    <div class="section">
      <h2>Contact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra enim in iaculis dapibus. Aliquam ac pulvinar eros. Fusce placerat dapibus mi, et condimentum mauris volutpat et.</p>
    </div>

    <button class="cta-button">Learn More</button>
  </div>

<%- include('../includes/footer.ejs') %>